:root {
  /* Brand */
  --Primary-100: #3692ff;
  --Primary-Primary-brand: #3692ff;
  --brand-blue: #3692ff;

  /* Secondary scale */
  --Secondary-900: #111827;
  --Secondary-700: #374151;
  --Secondary-400: #9ca3af;
  --Secondary-200: #e5e7eb;
  --Secondary-50: #f9fafb;

  /* Neutral/Gray */
  --Cool-Gray-100: #f3f4f6;
  --Line-Default: #dfdfdf;

  /* Backgrounds */
  --BG-Sky: #cfe5ff;
  --BG-White: #ffffff;
  --Surface: #fcfcfc;
}

/* Global link text style (typography only) */
a {
  text-decoration: none;
}

.panda {
  color: #3692ff;
  font-family: "ROKAF Sans";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blt-login span {
  color: var(--Cool-Gray-100, #f3f4f6);
  /* pretendard/lg-16px-semibold */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem; /* 162.5% */
  flex-shrink: 0;
}

.description h1 {
  color: var(--Secondary-700, #374151);
  /* 56px */
}

.blt-search span {
  color: var(--Secondary-50, #f9fafb);
  text-align: center;
  /* pretendard/xl-20px-semibold */
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 160% */
}

.search h2,
.hot-item h2,
.register-text h2 {
  color: var(--Secondary-700, #374151); /* 56px */
  letter-spacing: 0.05rem;
}

.hot-item p,
.register p,
.search p {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
}

.search p,
.search h2 {
  text-align: right;
}

.hot-item h3,
.search-text h3,
.register-text h3 {
  color: var(--Primary-100, #3692ff);

  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
}

.illustration-text h2 {
  color: var(--Secondary-700, #374151);
  text-align: right; /* 56px */
  letter-spacing: 0.05rem;
}

.illustration-text h2 {
  color: var(--Secondary-700, #374151); /* 56px */
}

.center-wrapper p {
  color: var(--Secondary-400, #9ca3af);
}

.center-wrap a {
  color: var(--Secondary-200, #e5e7eb);
}

.illustration-text h2,
.illustration-text h2,
.description h1,
.search h2,
.hot-item h2,
.register-text h2 {
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.center-wrap a,
.center-wrapper {
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
