*{
  box-sizing: border-box;
}
body{
  display: flex;
  
  padding: 227px 0;
  justify-content: center;
  align-items: center;
  background: #FCFCFC;  

}

input:focus{
  outline: none;
  border: 1px solid var(--brand-blue, #3692FF);;
}
.login-btn:hover{
  background: var(--Primary-100, #3692FF);
}

.email .email-input:focus {
  border: 1px solid #3692FF;
}

.main{
  display: flex;

flex-direction: column;
align-items: center;
gap: 40px;
flex-shrink: 0;

}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 132px;
  gap: 22px;
}

.logo-img{
  background-image: url("./panda_logimg/panda.svg");
  width: 104px;
  height: 104px;
  flex-shrink: 0;
  margin: 0;
}
.logo a{
  color: var(--brand-blue, #3692FF);
font-family: "ROKAF Sans";
font-size: 66.344px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin: 0;
text-decoration: none;

}

.login_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;

}

.container-wrap{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

}
.container-form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.container-form .email{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.container-form .password{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
 
.email .email-input{
  
  width: 640px;
  height: 56px;
  align-items: flex-start;
  padding: 16px 24px;
  outline: none;
  border: none;
  background: var(--Cool-Gray-100, #F3F4F6);
  border-radius: 12px;
  
}
.email-input::placeholder{
  color: var(--Secondary-400, #9CA3AF);

  /* pretendard/lg-16px-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.password{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}
.password label{
  width: 63px;
height: 26px;
color: var(--Secondary-800, #1F2937);

/* pretendard/2lg-18px-bold */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 144.444% */
}
.password-box {
  display: flex;
  align-items: center;
  width: 640px; /* input이랑 버튼 같이 폭 맞추기 */
}

.password-input{
width: 640px;
height: 56px;
padding: 16px 24px;

align-items: flex-start;
border-radius: 12px;
background: var(--Cool-Gray-100, #F3F4F6);
border: none;
outline: none;
}
.password-input::placeholder{
  color: var(--Secondary-400, #9CA3AF);

  /* pretendard/lg-16px-regular */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.login-btn a{
  color: var(--Cool-Gray-100, #F3F4F6);
  text-align: center;
  
  /* pretendard/xl-20px-semibold */
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 160% */
  text-decoration: none;
}

.login-btn{
  display: flex;
width: 640px;
height: 56px;
padding: 16px 124px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 40px;
background: var(--Secondary-400, #9CA3AF);
color: var(--Cool-Gray-100, #F3F4F6);

border: none;
outline: none;
}

.container-form label{
  color: var(--Secondary-800, #1F2937);
/* pretendard/2lg-18px-bold */
font-family: Pretendard;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 144.444% */
}

.container-login{
  display: flex;
  width: 640px;
padding: 16px 23px;
flex-direction: column;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E6F2FF;
justify-content: center;
align-items: center;

}

.loginpage {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.loginpage h2 {
  color: var(--Secondary-800, #1F2937);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.loginpage .login-icon {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.loginpage .login-icon .icon-gogle,
.loginpage .login-icon .icon-kakao {
  width: 42px;
  height: 42px;
}

.sign-text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.sign-text p{
  color: var(--Secondary-800, #1F2937);

/* pretendard/md-14px-medium */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 171.429% */
}

.signup{
  color: var(--Primary-100, #3692FF);
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;

}
