html {
  font-size: 100%;
}

.panda {
  color: #3692ff;
  font-family: "ROKAF Sans";
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blt-login span {
  color: var(--Cool-Gray-100, #f3f4f6);
  /* pretendard/lg-16px-semibold */
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem; /* 162.5% */
  flex-shrink: 0;
}
.description p {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
}

.blt-search span {
  color: var(--Secondary-50, #f9fafb);
  text-align: center;
  /* pretendard/xl-20px-semibold */
  font-family: Pretendard;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 160% */
}
.hot-item .item-A {
  color: var(--Primary-100, #3692ff);

  /* pretendard/2lg-18px-bold */
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
  margin: 0;
}

.hot-item .item-B {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.05rem;
  margin: 0;
}
.hot-item .item-C {
  color: var(--Secondary-700, #374151);

  /* pretendard/2xl-24px-medium */
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
}

.search-textA .search-textB {
  color: var(--Secondary-700, #374151);
  text-align: right;
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.05rem;
  margin: 0;
}
.search-textA .search-textC {
  color: var(--Secondary-700, #374151);
  text-align: right;
  /* pretendard/2xl-24px-medium */
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
  margin: 0;
}

.search-text p {
  color: var(--Primary-100, #3692ff);
  /* pretendard/2lg-18px-bold */
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
  margin: 0;
}

.register-text p {
  color: var(--Primary-Primary-brand, #3692ff);

  /* pretendard/2lg-18px-bold */
  font-family: Pretendard;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.625rem; /* 144.444% */
}
.register-textA .register-textB {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  letter-spacing: 0.05rem;
  margin: 0;
}
.register-textA .register-textC {
  color: var(--Secondary-700, #374151);

  /* pretendard/2xl-24px-medium */
  font-family: Pretendard;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2rem; /* 133.333% */
  margin: 0;
}
.illustration-text p {
  color: var(--Secondary-700, #374151);
  font-family: Pretendard;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 56px */
  margin: 0;
}
.center-text1 p {
  color: var(--Secondary-400, #9ca3af);
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.center-text2 a {
  color: var(--Secondary-200, #e5e7eb);
  text-align: center;
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
